
h3{
    font-size: 35px;
    font-weight: normal;
	margin-left:300px;
}

h3 span {
	background: #E6E6FA;
}

#inputContainer {
    width: 600px;
    position: absolute;
}


table{
  width:100%;
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

th {
   border: 1px solid black;
   background-color: #E6E6FA;
}

td {
   border: 1px solid black;
}

.passag {
	width: 250px;
	margin: 20px;
}

.passag2 {
	width: 250px;
	margin: 20px;
}